#box {
    height: 100px;
    width: 100px;
}

#heading {
    text-align: center;
    font-size: 8vw;
    margin-top: 20%;
    margin-bottom: 15%;
}

#tempHolder {
    text-align: center;
    font-size: 16vw;
    border: 17px solid #808080b5;
    width: 68%;
    background-color: green;
    margin: auto;
    border-radius: 20px;
}

.buttons {
    width: 48%;
    margin: 5px auto;
}

footer {
    font-size: 5vw;
    margin-top: 353px;
    margin-left: 35px;
}